In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('titanic_prepared_data.csv')

In [7]:
df.head()

,Unnamed: 0,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [98]:
X = df.iloc[:, 0:].values

In [99]:
y = df.iloc[:, 1].values

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [102]:
from sklearn.linear_model import LogisticRegression

In [103]:
clf = LogisticRegression()

In [104]:
clf.fit(X_train, y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [105]:
y_pred = clf.predict(X_test)

In [106]:
from sklearn.metrics import accuracy_score

In [107]:
print "Test Accuracy: " + str(accuracy_score(y_pred, y_test) * 100)

Test Accuracy: 100.0

In [108]:
from sklearn.neighbors import KNeighborsClassifier

In [109]:
clf = KNeighborsClassifier(n_neighbors = 3)

In [110]:
clf.fit(X_train, y_train.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [111]:
y_pred = clf.predict(X_test)

In [112]:
from sklearn.metrics import accuracy_score

In [113]:
print "Test Accuracy: " + str(accuracy_score(y_pred, y_test) * 100)

Test Accuracy: 61.5671641791

In [114]:
from sklearn.naive_bayes import GaussianNB

In [115]:
clf = GaussianNB()

In [116]:
clf.fit(X_train, y_train.ravel())

GaussianNB(priors=None)

In [117]:
y_pred = clf.predict(X_test)

In [118]:
from sklearn.metrics import accuracy_score

In [119]:
print "Test Accuracy: " + str(accuracy_score(y_pred, y_test) * 100)

Test Accuracy: 100.0